<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="chassis" params="name parent *origin">

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <joint_properties damping="1" friction="1" />
      <parent link="${parent}" />
      <child link="${name}_link" />
    </joint>

    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 ${M_PI} ${M_PI_2}" />
        <geometry>
          <mesh filename="package://dual_arm_robot/meshes/visual/chassis.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="">
          <color rgba="0.2011 0.8974 0.7990 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 ${M_PI} ${M_PI_2}" />
        <geometry>
          <mesh filename="package://dual_arm_robot/meshes/collision/chassis_simplify.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>
  
</robot>
